* {
  box-sizing: border-box;
}

body {
  margin : 0px;
  font-family: "Inter", sans-serif;
}

.header {
  background-color: #F55A5A;
  height : 55px;
  width : 100vw;
  display: flex;
  padding-top: 16px;
  padding-bottom: 15px;
}

.header--logo {
  display: flex;
  max-width: 24px;
  height: 24px;
  margin-left: auto;
}

.header--text {
  display: flex;
  height: 16px;
  padding-top: 4px;
  margin: 0;
  margin-right: auto;
  padding-left: 7px;
  font-weight: 500;
  color: #FFFFFF;
}

.main {
  margin: 0;
  padding: 27px 40px;
}

.card {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
}

.card--image {
  max-width: 125px;
  max-height: 168px;
  border-radius: 5px;
}

.card--info {
  padding-left: 19px;
  padding-top: 19px;
  font-size: 0px;
  height: 168px;
}

.card--map-info {
  display: flex;
  height: 10px;
  align-items: center;
}

.card--map-info--text {
  font-size: 10px;
  padding-left: 4px;
}

.card--map-info--text > a:link, a:visited {
  padding-left: 12px;
  color: #918E9B;
}

.card--h1-text {
  height: 40px;
  font-size: 25px;
  margin: 0px;
  padding-top: 4px;
}

.card--date {
  margin: 0px;
  font-size: 11px;
  padding-top: 11px;
}

.card--description {
  margin: 0px;
  font-size: 10.24px;
  max-width: 326px;
  padding-top: 9px;
}

.card--hr {
  border-top: 1px #F5F5F5;
}

@media (max-device-width: 500px) {
  .card--info {
    padding-top: 5px;
    height: auto;
  }

  .card--h1-text, .card--date, .card--description, .card--map-info {
    height: auto;
  }
}

@media (max-device-width: 390px) {
  .card {
    flex-direction: column;
  }

  .card--info {
    padding-left: 0px;
  }
}

@media (min-device-width: 1100px) {
  .main {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 40px;
  }

  .card--hr {
    border: none;
  }
}